/* Masquer la liste au départ */
.menu-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}
#menu-toggle {
    display: none;
}

.menu-btn {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 18px;
}


.menu-list {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

#menu-toggle:checked + .menu-btn + .menu-list {
    display: block;
}

.menu-list li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.menu-list li a:hover {
    background-color: #f1f1f1;
}

/* Fin pour la categorie*/
