body{
    margin: 0px;
    padding: 0px;
}

.entête1{
    background-color: gray;
    height: 80px;
    margin: 10px;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}
ul li a{
    letter-spacing: 0.1rem;
    text-decoration: underline;
}
ul li a:hover{
 color: bisque;
}
.agrandi li{
    float: left;
    padding: 35px;
}
.agrandi li a{
    text-decoration: none;
}
form{
    padding: 40px;
    text-align: right;
}
